$white: #fff;
$isabelline: #eeeded;
$Spanishgray: #989797;

$Coral: #eacb31;
$Buff: #f1dd7b;
$Vanilla: #f5e7a1;

$Flame: #e4572e;
$Lightredochre: #e87554;
$Pastelpink: #f2b2a0;

$Shinyshamrock: #4ca866;
$Turquoisegreen: #9dcfab;
$Pastelgray: #bddfc7;

$BluedeFrance: #3c91e6;
$Bluejeans: #5fa5ea;
$Jordyblue: #82b9ef;

$Black: #000000;
$Outerspace: #454545;
$Quicksilver: #a2a2a2;

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

$roboto: "Roboto", sans-serif;
$ptmono: "PT Mono", monospace;
