@import "../abstracts/variables";

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-links {
    display: flex;
    align-items: center;
    gap: 5rem;

    &__logo {
        width: 4rem;
    }

    &__link {
        color: $Spanishgray;

        &:hover {
            color: $Black;
        }
    }
}

.container-buttons {
    display: flex;
    gap: 2rem;

    &__button {
        width: 20rem;
        font-size: 1.8rem;
        padding: 1rem 0;
        font-family: $ptmono;
    }
}

.button--gris {
    background-color: $white;
    border: 1px solid $Quicksilver;
    color: $Spanishgray;

    &:hover {
        color: $Outerspace;
        border-color: $Outerspace;
    }
}

.button--verde {
    background-color: $Shinyshamrock;
    border: none;
    color: $white;

    &:hover {
        background-color: $Turquoisegreen;
        color: $Outerspace;
    }
}
